# Ignore Play! working directory #
.cache
.eclipse
.history
*.eml
*.iml
bin/
server.pid
test-result
tmp/
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/db
/dist/
/lib/
/logs/
/modules
/out
/project/project/
/project/target/
/project/*-shim.sbt
/target/
